


.main {
  display: flex;
  flex-direction: column;
  gap: 60px;
  align-items: center;
  padding: 6rem;
  min-height: 100vh;

  form{
    input{
      display: block;
      margin-top: 4px;
      margin-bottom: 12px;
    }
    
  }
}



